INSTAHYRE_EMAIL="your-email@example.com"
INSTAHYRE_PASSWORD="your-password"
INSTAHYRE_JOB_LINK="https://www.instahyre.com/candidate/opportunities/?matching=true"
PHONE_NUMBER="your-phone-number"
SKILL_MATCH_THRESHOLD="2"